<font color="#24AAFF"><h1>listar la planta</h1></font>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planta.each do |plantum| %>
      <tr>
        <td><%= plantum.name %></td>
        <td><%= plantum.description %></td>
        <td><%= image_tag(plantum.picture_url, :width => 150, :height=>150) if plantum.picture.present? %></td>
        <td><%= link_to 'Mostrar', plantum %></td>
        <td><%= link_to 'Editar', edit_plantum_path(plantum) %></td>
        <td><%= link_to 'Eliminar', plantum, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'nueva planta de Urcuquí', new_plantum_path %>
